.contContact{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.intr{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Roboto Condensed, Roboto, sans-serif;
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.intr2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pp{
    color: white;
    font-size: 18px;
    border-right: 5px solid transparent;
    padding: 20px;
    text-align: center;
}

.dvv{
    font-family: Roboto Condensed, Roboto, sans-serif;
    color: white;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
}

