*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #202020;
}


/* INICIO NAV */
nav{
    display: flex;
    justify-content: space-between;
    font-family: Roboto Condensed, Roboto, sans-serif;
    background-color: #151515;
}

.navLogo{
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 20px;
}

.logo{
    width: 50px;
    height: 57px;
    margin-right: 10px;
}
.tecnorixH1{
    color: white;
    margin: 1px 1px 1px 1px;
    font-family: Roboto Condensed, Roboto, sans-serif;
}

.menu{
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
}

.navMenu{
    display: none;
    position: absolute;
    background-color: #101010;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.137);
    z-index: 1;
}

.navMenu a {
    color: white;
    padding: 5px 0px;
    text-decoration: none;
    display: block;
}

.container-navMenu:hover .navMenu{
    display: block;
}
/* FIN NAV */


/* INICIO MAIN */
.conteinerMainUno{
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
    transition: all 400ms ease;
}
.conteinerMainUno:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}

button{
    background-color: #101010;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 #fff;
   -webkit-transition: ease-out 0.4s;
   -moz-transition: ease-out 0.4s;
   transition: ease-out 0.4s;
}

button:hover{
    box-shadow: inset 400px 0 0 0 #fff;
    color: black;
}

.conteinerTextoMain{
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.conteinerTextoMain h2 {
    font-family: Roboto Condensed, Roboto, sans-serif;
}

.conteinerQueso{
    float: right;
    margin-right: 10px;
}

.queso{
    width: 200px;
    height: 200px;
}

.conteinerMainDos{
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
    transition: all 400ms ease;
}

.conteinerMainDos:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}

.conteinerQuesoDos{
    float: left;
    margin-left: 10px;
}

.conteinerTextoMainDos{
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.conteinerTextoMainDos h2{
    font-family: Roboto Condensed, Roboto, sans-serif;
}
/* FIN MAIN */


/* INICIO FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    font-family: Roboto Condensed, Roboto, sans-serif;
    color: white;
    background-color: #101010;
}

.logofooter{
    width: 50px;
    height: 57px;
    margin-right: 10px;
}

.navLogoFooter{
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 20px;
}

.contactoFooter{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
/* FIN FOOTER */